body {
  background: #8e8e8e;
}
/* 
.App {
  background: #777;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #333;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  background: #eee;
}

.navbar-logo {
  width: 33%;
  display: inline-block;
}

.navbar-title {
  display: inline-block;
  width: 66%;
}

.navbar-title h1 {
  position: absolute;
  margin: 0 auto;
  transform: translateY(-150%)
}

.navbar h1 {
  margin: 10px 0;
}

.shopping-list {
  margin: 20px;
}

.shopping-list ul {
  padding: 0;
  list-style-type: none;
}

.shopping-list li {
  display: block;
  background: #eee;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}

.shopping-list li:hover {
  opacity: 0.7;
}

.edit-inputs input[type="text"], .edit-inputs input[type="number"] {
  display: inline-block;
  border-right: solid black 1px;
  width: 30%;
  background: #eee;
  color: #333;
}

.edit-inputs button, .edit-inputs input[type="submit"] {
  display: inline-block;
  border: 0;
  background: #eee;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.shopping-list .item {
  margin: 10px 15px;
  min-height: 3rem;
}

.shopping-list .item-feature {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  font-size: 0.9rem;
}

.shopping-list .item-name {
  width: 60%;
  margin-right: 15px;
  font-weight: bold;
  color: #333;
}

.shopping-list .item-entity {
  width: 30%;
  color: #3f3f3f;
}

.shopping-list .delete {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 15px 5px;
  box-sizing: border-box;
  margin: 5px 10px;
  cursor: pointer;
}

form {
  padding: 20px;
}

form h1 {
  color: #eee;
}

input {
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 5px;
}

input[type=text], input[type=number] {
  background: #5f5f5f;
  color: #fff;
  border: 0;
}

input[type=text] {
  width: 50%;
}

input[type=number] {
  width: 20%
}

input[type=submit] {
  width: 20%;
  background: #eee;
  border: 0;
  margin-left: 35px;
  cursor: pointer;
}

input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

::placeholder {
  color: #fff;
} */